body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

header {
    background-color: rgba(65, 1, 65, 0.863);
    color: aliceblue;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cabecalho {
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    margin-left: 1.5rem;
}

.cabecalho a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: ease 0.3s;
}

.cabecalho a:hover {
    opacity: 0.8;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/fundo.png') center/cover no-repeat;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: blueviolet;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    max-width: 600px;
    color: aliceblue;
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: rgb(65, 1, 65);
    text-align: center;
}

.games-container {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem 0;
    scrollbar-width: thin;
    scrollbar-color: #ff5722 #333;
}

.games-container::-webkit-scrollbar {
    height: 8px;
}

.games-container::-webkit-scrollbar-track {
    background: #333;
    border-radius: 10px;
}

.games-container::-webkit-scrollbar-thumb {
    background-color: #ff5722;
    border-radius: 10px;
}

.game-card {
    flex: 0 0 auto;
    width: 200px;
    background-color: #202020;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s , box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}